@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap'); 


:root
{
  --blanche: #ffff;
  --noir: #222;
  --primair: #007bc4;
  --gris: #888;

}

*,
*::before
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5% ;

}

body{
  font-family: 'poppins', sans-serif;
  font-size: 1.6rem;
  color: var( --noir);
  background-color: var(--blanche);
}
ul, li {
  list-style: none;

}
a{
  text-decoration: none;
  columns: inherit;
}
img{
  max-width: 100%;
}

.promo{
  background-color: var(--primair);
  text-align: center;
  color: var(--blanche);
  padding: 0.5rem 0;
  
}
.container{
  max-width:  144rem;
  padding: 0 auto ;

}
@media only screen and (max-width: 1200px){
  .container{
    padding: 0 3rem;

  }
}
.navigation{
  height: 7rem;
  justify-content: space-between;

}
.d-flex{
   display: flex;
   align-items: center;
}
.icon1{
  display: none;
}
.menu .top{
  display: none;
}
.logo{
  font-weight: 700;
  font-size: 2rem;
  padding: 0rem 1.5rem;

}
.logo span {
  font-size: 3rem ;
  color: var(--primair);

}
.nav-item:not(:last-child) {
  margin: 0.5rem;

}
.nav-item :first-child .nav-link {

  color: var(--primair)
}